<form method="POST" action="/course">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="label-courseid">Course ID</span>
      </div>
      <input type="text" class="form-control" placeholder="999999" aria-label="Course ID"
        aria-describedby="label-studentid" name="course_id">
    </div>
  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Name</span>
      </div>
      <input type="text" name="name" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary form-control mb-3">Submit</button>
  </form>