<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <style>

  </style>

  <script>

  window.onload = function() {
    $(document).ready(function() {

      $(".clickStudentRow").click(function(e){

        var $item = $(this).closest("tr")   // Finds the closest row <tr> 
                       .find(".student_id")     // Gets a descendent with class="nr"
                       .text();         // Retrieves the text within <td>
        console.log($item);
      }
      );

      $(".showModal").click(function(e) {
        e.preventDefault();
        
        var url = $(this).attr("data-href");
        console.log(url)
        $("#studentModal iframe").attr("src", url);
        $("#studentModal").modal("show");
      });
    });
  }
  </script>

  <title>Grading</title>
  </head>
  
  <body>
    <div class="container">

        {% include 'modal_add_student.html.jinja2' %}

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fas fa-pencil-alt"></i>&nbsp;GRDX</a>

            {% include 'navigation.html' %}

        </nav>

      {% if task == 'students' %}
        {% include 'student_list.html' %}
        {% include 'student_form.html' %}
      {% endif %}

      {% if task == 'courses' %}
        {% include 'course_list.html' %}
        {% include 'course_form.html' %}
      {% endif %}

      {% if task == 'exams' %}
        {% include 'exam.html' %}
      {% endif %}


      <!--

      {% include 'bottom.html.jinja2' %}
        
    
        -->

   </div>

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  </body>
</html>
