<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Bootstrap Table CSS -->

     <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.css">

     <!-- FontAwesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

     <link rel="stylesheet" href="/css/prism.css"></link>

    <title>Grading - {{ student.name }}</title>
    <script>

    window.onload = function() {
    }

    </script>
    <style>

    </style>
  </head>
  <body>


  <div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <i class="fas fa-pencil-alt"></i>GRDX
      </a>
  </nav>

<form action="/student/update" method="post">
    <input name="student_id" type="hidden" value="{{student['id'] }}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="path">Path</label>
        <input class="col-sm-10 form-control" name="path" type="text" placeholder="{{ student['root'] }}" readonly>
    </div>
    {% for t in tasks %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{t}}">{{t}} - max. {{tasks[t]}}</label>
        <input class="col-sm-10" name="{{t}}" type="number" value="{{student['points'][loop.index-1]}}" required class="form-control">
    </div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <input type="submit" value="Send" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-primary" />
    </div>
</form>
  </div>
    <!-- <button class="btn btn-primary">Update</button> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
    <script src="/js/prism.js" data-manual></script>
  </body>
</html>
