<table class="table table-bordered table-hover">
    <caption>List of students</caption>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Course</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr class="clickStudentRow">
            <td class="student_id">{{ s.id }}</td>
            <td>{{ s.lastname }}</td>
            <td>{{ s.firstname }}</td>
            <td>{{ s.year }}</td>
            <td>{{ s.course }}</td>
            <td>
                <center>

                    <form method="POST" action="/student/delete">
                        <input type="hidden" value="{{s.id}}" name="student_id">
                        <input type="submit" class="fa btn btn-success" value="&#xf506; Delete" />
                    </form>

                </center>
            </td>
        <tr>
            {% endfor %}
    </tbody>
</table>