
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Add</button>
    </div>
</div>